* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.block-figure {
  position: relative;
  width: 1000px;
  height: 1000px;
}

.block-figure__circle {
  position: absolute;
  width: calc(100% * 2 / 6);
  height: calc(100% * 2 / 6);
  border-radius: 50%;
}

.block-figure__circle--top-left {
  left: 0%;
  top: 0%;
  z-index: 1;
  background: #ee220c;
}

.block-figure__circle--top-right {
  right: 0%;
  top: 0%;
  z-index: 1;
  background: #ee220c;
}

.block-figure__circle--bottom-right {
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background: #ee220c;
}

.block-figure__circle--bottom-left {
  left: 0%;
  bottom: 0%;
  z-index: 1;
  background: #ee220c;
}

.block-figure__big-square {
  position: absolute;
  width: calc(100% * 4 / 6);
  height: calc(100% * 4 / 6);
  left: calc(100% * 1 / 6);
  top: calc(100% * 1 / 6);
  z-index: 3;
  background: #00a2ff;
  transition: background-color 1s, transform 1s; 
}

.block-figure__square {
  position: absolute;
  width: calc(100% * 2 / 6);
  height: calc(100% * 2 / 6);
  left: calc(100% * 2 / 6);
  top: calc(100% * 2 / 6);
  z-index: 5;
  border-radius: 15%;
  background: #f8ba00;
}

.block-figure__circle--top-left:hover {
  z-index: 4;
  background: #0c10e6;
}

.block-figure__circle--top-right:hover {
  z-index: 4;
  background: #0c10e7;
}

.block-figure__circle--bottom-right:hover {
  z-index: 4;
  background: #0c10e8;
}

.block-figure__circle--bottom-left:hover {
  z-index: 4;
  background: #0c10e9;
}

.block-figure__big-square:hover {
  background-color: #0c10e8;
  z-index: 6;
  transform: rotate(0.5turn);
}
